<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"><!--//injectamos una API de thymleaf que se usa con th:-->
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h1>REGISTER</h1>
<form th:action="@{/auth/register}" method="post" th:object="${signup}"> <!--// lo que use th: con su simbolo dinamico-->
    <label>
        <input type="text" th:field="*{name}" placeholder="Type your name"> <br/>
        <input type="text" th:field="*{address}" placeholder="Type your last name"> <br/>
        <input type="text" th:field="*{capacity}" placeholder="Birth Day"> <br/> <!--//Hay que mirar como recibir estos datos-->
        <input type="text" th:field="*{priceperhour}" placeholder="Type your email address"> <br/>
        <input type="text" th:field="*{priceperday}" placeholder="Type your password"> <br/>
        <input type="text" th:field="*{pricepermonth}" placeholder="Type your password"> <br/>

    </label>
    <button type="submit">Sign Up</button>
    <p th:if="${registrationError}">Current email address already in use. Please try with another email address.</p>
</form>
</body>
</html>
<!--
//$ el objeto mismo
//* como el punto en java, coger los atributos del objeto
//@ genera links (URL) dinamicos
-->